/* -----------------  *  ----------------- */

*{
	margin: 0;
	padding: 0;
}

body{
	background: #ebebeb;
	font-family: 'Oxygen', sans-serif;
}

a{
	text-decoration: none;
	color: #1a1a1a
}

a:hover{
	color: #3a3a3a;
}

#wrapper{
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
}

header{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 45px;
}

/* -----------------  HEADER  ----------------- */

/* header h1{
	display: inline-block;
	padding-top: 48px;
	font-weight: normal;
	font-size: 14px;
	background: url('images/logo.png') no-repeat transparent;
	width: 93px;
	height: 85px;
	margin: 0 40px;
} */

header h1{
	display: inline-block;
	padding-top: 48px;
	font-weight: normal;
	font-size: 14px;
	background: url('images/logoicon_w.png') center 0 no-repeat transparent;
	width: 282px;
	height: 85px;
}

header h1 span{
	position: relative;
	top: 68px;
	left: 0px;
}

header img{
	display: inline-block;
	padding-top: 48px;
	font-weight: normal;
	font-size: 14px;
	margin: 0 40px;
}

header img a{
	position: relative;
	top: 65px;
	left: 6px;
}

nav{
	display: inline-block;
}

nav.nav1 ul, nav.nav2 ul{
	list-style: none;
}

nav.nav1 ul li, nav.nav2 ul li{
	display: inline-block;
	margin: 0 40px;
}

nav.nav1 ul li a, nav.nav2 ul li a{
	font-size: 16px;
}

nav.nav1 ul li a:hover, nav.nav2 ul li a:hover{
	color: #306eff;
}

nav.nav1 ul li:first-child{
	margin-left: 0;
}

nav.nav2 ul li:last-child{
	margin-right: 0;
}

/* -----------------  SLIDER  ----------------- */

.nivoSlider {
	position:relative;
	width:960px;
	height:auto;
	overflow: hidden;
	margin: 70px auto;
}

section.slider-wrapper{

}

/* -----------------  BOXES  ----------------- */

section.content{
	width: 960px;
	margin-left: 20px;
	display: inline-block;
}

section.boxes{
	float: left;
	width: 714px;
}

section.boxes ul{
	list-style: none;
}

section.boxes ul li{
	display: inline-block;
}

section.boxes ul li img{
	width: 216px;
	height: 216px;
}

section.boxes ul li p{
	font-size: 14px;
	color: #828282;
}

section.boxes ul li.split{
	margin: 0 28px;
}

section span.space{
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}

.jover{
	width: 216px;
	height: 216px;
	background: url('images/box_bg.png') repeat;
	position: absolute;
	opacity: 0;
}

.jover p{
	display: inline-block;
	padding: 83px 53px;
}

.jover a.visit, .jover a.download{
	width: 50px;
	height: 50px;
	display: inline-block;
	text-indent: -9999px;
}

.jover a.visit{
	background: url('images/sprite.png') 0 20px no-repeat;
	margin-right: 10px;
}

.jover a.download{
	background: url('images/sprite.png') -43px 20px no-repeat;
}

.jover a.visit:hover{
	background-position: 0 -34px; 
}

.jover a.download:hover{
	background-position: -43px -34px; 
}

/* -----------------  SIDEBAR  ----------------- */

section.sidebar{
	float: right;
	width: 210px;
}

section.sidebar input{
	background-color: #e4e4e4;
	width: 71.5%;
	border: none;
	padding: 6px 30px;
	font-size: 16px;
	text-indent: 7px;
	background: url('images/search.png') no-repeat 10px center #e4e4e4;
}

section.sidebar section{
	margin-top: 20px;
	width: 100%;
}

section.sidebar section h1{
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 17px;
}

section.sidebar section ul.tags{

}

section.sidebar section li{
	margin: 0 5px 5px 0;
	display: inline-block;
}

section.sidebar section li a{
	background-color: #82a8ff;
	font-size: 12px;
	color: #fff;
	padding: 2px 4px;
}

section.sidebar section li a:hover{
	background-color: #6b91ce;
}

section.sidebar p{
	font-size: 13px;
	color: #4a4a4a;
}

/* -----------------  PAGE_NAV  ----------------- */

section.page_nav{
	display: inline-block;
	width: 100%;
	margin: 35px 0;
	text-align: center;
}

section.page_nav ul{
	list-style: none;
	font-size: 20px;
}

section.page_nav ul li{
	display: inline-block;
	color: #000;
	margin: 0 6px;
}

section.page_nav ul li.current{
	color: #fff;
	padding: 2px 10px;
	background-color: #306eff;
}

section.page_nav ul li a{
	color: #5e5e5e;
	padding: 2px 10px;
	background-color: #f5f5f5;
}

section.page_nav ul li a:hover{
	color: #fff;
	background-color:#306eff;
}


/* -----------------  FOOTER  ----------------- */

footer{
	font-size: 12px;
	color: #a3a3a3;
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
	width: 960px;
	margin: 0 auto;
}