doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Drag Dots
		link(rel="stylesheet" type="text/css" href="css/styles.css")
		
		//- meta(property="og:image" content="")

		//- link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
	body

		.video-background
			.video-foreground
				iframe(src="https://www.youtube.com/embed/Scxs7L0vhZ4?controls=0&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen)

		.drag

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='js/common.js')
