doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Stratos Iordanidis - Soon.
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		//- meta(property="og:image" content="")

		//- link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

	body
		#main-wrapper
			header
				img.logo(src='images/logo.svg' alt='iam stratos')

				ul.social
					li
						a(href='https://github.com/iamstratos')
							img(src='images/github.svg' alt='github')
					li
						a(href='https://twitter.com/iam_stratos')
							img(src='images/twitter.svg' alt='twitter')
					li
						a(href='https://www.linkedin.com/in/iamstratos/')
							img(src='images/linkedin.svg' alt='linkedin')



			canvas#canvas(width='900' height='520')
			footer Coming soon.

		script(src='js/canvasapp.js')