#grid_area{
  width: 99%;
}
.grid {
  margin: 7px auto;
  position: relative;
}
.grid-item{
  @include box-shadow(rgba(0,0,0,0.1) 0 1px 2px);
  @include filter(saturate(1.5));
  width: 232px;
  height: 288px;
  background: #fff;
  margin-bottom: 8px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.clickable{
  cursor: pointer;    
}

.grid-item--width2 { width: 472px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 584px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.grid-item-gradient{
  display: inline-block;
  width: 232px;
  height: 288px;
  background: url('img/grid-item-gradient.png') repeat-x left bottom transparent; 
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

/* ---------------------  box text-image-titles */
  @mixin meta_area($color, $opacity){
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 15px;
    padding: 0 15px;
    z-index: 10;
    .logo{
      @include opacity($opacity);
      float: left;
      color: $color;
      &:hover{
        @include opacity(1);
      }
      i{
        @include font-size(1.4);
      }
    }
    .social{
      float: right;
      margin-right: 5px;
      color: $color;
      cursor: pointer;
      span{
        @include opacity($opacity);
        @include font-size(1.4);
        &:hover{
          @include opacity(1);
        }
        i{
          margin-right: 8px;
        }
        margin-left: 23px;
      }
    }
  }

  @mixin article_a_area($height) {
    display: inline-block;
    position: relative;
    height: $height;
    width: 100%;
    > a{
      @include font-size(1.6);
      color: #3f474e;
      font-weight: 400;
      line-height: 30px;
      padding: 10px 15px 0;
      display: block;
      width: 100%;
      &:hover{
        color: darken(#3f474e, 15%);
      }
    }
  }

/* ----- small boxes ----- */

.small-img-text{
  .grid-item-img{
    width: 100%;
    height: 158px;
    background: no-repeat center center transparent;
    background-size: cover;
  }
  article{
    @include article_a_area(130px);
    p{
      @include font-size(1.4);
      color: #80858c;
      font-weight: 300;
      line-height: 18px;
      max-height: 42px;
      overflow: hidden;
      padding: 0 15px;
    }
  }
  .meta{
    @include meta_area(#a1a3a6,0.6);
  }
}

.small-text{
  article{
    padding: 8px 15px;
    display: inline-block;
    a{
      @include font-size(1.6);
      color: #3f474e;
      font-weight: 400;
      line-height: 30px;
    }
    p{
      @include font-size(1.4);
      color: #80858c;
      font-weight: 300;
      line-height: 18px; 
      height: 234px;
      overflow: hidden;
    }
  }
}

.small-img-title{
  .grid-item-img{
    width: 100%;
    height: 205px;
    background: no-repeat center center transparent;
    background-size: cover;
  }
  article{
    @include article_a_area(83px);
  }
  .meta{
    @include meta_area(#a1a3a6,0.6);
  }
}

.small-meta{
  .meta{
    @include meta_area(#fff,0.7);
  }
}
/* ----- big boxes ----- */

.medium-img-text{
  .grid-item-img{
    width: 100%;
    height: 158px;
    background: no-repeat center center transparent;
    background-size: cover;
  }
  article{
    @include article_a_area(130px);
    p{
      @include font-size(1.4);
      color: #80858c;
      font-weight: 300;
      line-height: 18px;
      max-height: 42px;
      overflow: hidden;
      padding: 0 15px;
    }
  }
  .meta{
    @include meta_area(#a1a3a6,0.6);
  }
}

.medium-img-title{
  .grid-item-img{
    width: 100%;
    height: 198px;
    background: no-repeat center center transparent;
    background-size: cover;
  }
  article{
    @include article_a_area(90px);
  }
  .meta{
    @include meta_area(#a1a3a6,0.6);
  }
}

/* ----- big boxes ----- */

.big-img-text{
  .grid-item-img{
    width: 100%;
    height: 390px;
    background: no-repeat center center transparent;
    background-size: cover;
  }
  article{
    @include article_a_area(194px);
    p{
      @include font-size(1.4);
      color: #80858c;
      font-weight: 300;
      line-height: 18px;
      height: 105px;
      overflow: hidden;
      padding: 0 15px;
      span{
        margin-right: 13px;
        margin-top: 10px;
        display: inline-block;
      }
    }
  }
  .meta{
    @include meta_area(#a1a3a6,0.6);
  }
}

.big-img-title{
  .grid-item-img{
    width: 100%;
    height: 494px;
    background: no-repeat center center transparent;
    background-size: cover;
  }
  article{
    @include article_a_area(90px);
  }
  .meta{
    @include meta_area(#a1a3a6,0.6);
  }
}