$link-color: #f52e62;
$text-color: #fff;
$tooltip-border: #c9e0ef;
$tooltip-background: #242528;

.tooltip {
  @include transition-property(opacity);
  @include transition-duration(0.5s);
  @include border-radius(3px);
  @include opacity(0);
  @include font-size(1.4);
  display: inline-block;
  position: absolute;
  padding: 12px 20px;
  width: auto;
  color: $text-color;
  // You can also use a fixed width and ommit the white-sapce.
  white-space: nowrap;
  background-color: $tooltip-background;
  z-index: 2000;
   &::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, 50%) rotate(45deg);
    width: 6px;
    height: 6px;
    background-color: $tooltip-background;
    content: '';
  }
}

.tooltip-phone{
  padding: 12px 15px;
  %phone_icons{
    color: #747980;
    &:hover{
      color: #fff;
      cursor: pointer;
    }
  }
  .icon-phone{
    @extend %phone_icons;
    @include font-size(1.7);
    margin-right: 14px;
  }
  .icon-mail{
    @extend %phone_icons;
    @include font-size(1.5);
    margin-right: 4px;
  }
}
