@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('font/MonoSocialIconsFont-1.10.eot');
    src: url('font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* Responsive */

@media screen and (max-width: 960px) {

header, footer, .section, div.nav{
	width: 720px !important;
	text-align: center !important;
}

header{
	height: 100% !important;
}

header .right {
    float: none !important; 
    width: 100% !important;
}

header input[type=submit]{
    float: none !important;        
}
    
.checkout h5{
    top: 206px !important;
    left: 350px !important;  
}
    
section.logos{
    padding: 1.5em 0 !important;        
}
    
.logos ul li {
    margin: 30px 18px !important;
}    
    
.info1 p {
    width: 79% !important;    
}

.info2 h3{
}
    
.info2 p {
   width: 65% !important;      
}    
    
    
}

@media screen and (max-width: 720px) {

header, footer, .section, div.nav{
	width: 512px !important;
	text-align: center !important;
}

header{
	height: 100% !important;
}

.checkout h5{
    left: 240px !important;  
}
    
div.nav{
	width: 940px;
	height: 75px;
	margin: 0 auto;
}

div.nav nav {
    margin: 0 auto;
    width: 100%;
}    
    
span.nav_icon{
	display: inline-block !important;
        opacity: 0.8;
}

div.nav nav ul{
	display: none;
	padding: 10px 0 !important;
}

}

@media screen and (max-width: 512px) {

header, footer, .section, div.nav{
	width: 250px !important;
	text-align: center !important;
}

header{
	height: 100% !important;
}

header a img{
     width: 250px !important;    
}

header input[type=text] {
    width: 210px !important;   
}
    
.checkout span{
    width: 100% !important;
}
    
.checkout span a img {
    width: 250px !important;
}

.checkout h5{   
        font-size: 14px !important;
        padding: 5px !important;
        top: 175px !important;
        left: 115px !important;
 }

.section.logos{
        width: 230px !Important;    
}

.info1 img{ 
    width: 250px !Important; 
}

.info2 p {
        width: 80% !important;
}

.dontforget input[type=text]{
        width: 210px !important;
}
    
.dontforget input[type=submit]{
    margin-left: 0 !important;
    margin-top: 10px !important;
}

section.social nav li a.fb span {
    top: -4px !important;
}

section.social nav li span {
    font-size: 4em !important;
}
    
div.nav{
	width: 940px;
	height: 75px;
	margin: 0 auto;
}

span.nav_icon{
	display: inline-block !important;
    margin: 27px 0 20px !important;
}

div.nav nav ul{
	display: none;
	padding: 10px 0 !important;
}

div.nav nav ul li{
    margin-bottom: 5px !important;
}
    
section.social nav li{
	margin: 0.5em 0.6em !important;
}

}

/* -----------------  *  ----------------- */

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica, Arial, sans-serif;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none;
	color: #ff6e2e
}

a:hover{
    text-decoration: underline;
}

/* -----------------  Navigation ----------------- */

section.nav_outer.stuck span.nav_icon{
	background: url('images/navb.png') no-repeat transparent !important;
}

span.nav_icon{
	display: none;
	width: 23px;
	height: 19px;
	background: url('images/navb.png') no-repeat transparent;
	cursor: pointer;
	margin: 27px 0;
	float: right;
}

.sticky-wrapper{
	position: absolute;
	width: 100%;
	z-index: 600;
}

section.nav_outer.stuck {
	position:fixed;
	top:0;
	box-shadow:0 1px 3px rgba(0, 0, 0, .5);
	z-index: 500;
	background-color: #fff;
	opacity: 0.9;
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
}

section.nav_outer.stuck div.nav nav ul li a{
	color: #3a3a3a;
	text-shadow: none;
}

section.nav_outer.stuck div.nav nav ul li a:hover{
	color: #b6b6b6;
    text-decoration: none;
}

section.nav_outer.stuck div.nav nav ul li.fb a{ background-image: url('images/fb_small_hover.png'); width: 6px; }
section.nav_outer.stuck div.nav nav ul li.fb a:hover{ background-image: url('images/fb_small.png'); }

section.nav_outer.stuck div.nav nav ul li.twitter a{ background-image: url('images/twitter_small_hover.png'); width: 12px; }
section.nav_outer.stuck div.nav nav ul li.twitter a:hover{ background-image: url('images/twitter_small.png'); }

section.nav_outer{
	width: 100%;
	display: inline-block;
	background: #fff;
	z-index: 100;
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
	box-shadow:0 1px 3px rgba(0, 0, 0, .5);
}

div.nav{
	width: 940px;
	height: 75px;
	margin: 0 auto !important;
}

div.nav.stuck {
	position:fixed;
	top:0;
}

div.nav a.logo{
	width: 120px;
	height: 30px;
	margin: 24px auto 0;
    background: url('images/ractiv.png') transparent no-repeat;
    display:inline-block;
    text-indent:-9999px;
	float: left;
    opacity: 0.6;  
}

div.nav a.logo:hover{
    opacity: 0.9;   
}

div.nav nav{
	float: right;
}

div.nav nav ul{
	list-style: none;
	padding: 27px 0;
}

div.nav nav ul li{
	display: inline-block;
	padding: 0 20px;
}

div.nav nav ul li a{
	font-size: 14px;
	color: #b6b6b6;
	text-transform: uppercase;
	font-weight: bold;
}

div.nav nav ul li a:hover{
	color: #000;
	text-decoration: none;
}

div.nav nav ul li.fb, div.nav nav ul li.twitter{
    padding: 0;
}

div.nav nav ul li.fb a, div.nav nav ul li.twitter a{
    height: 13px;
    display: inline-block;
    text-indent: -9999px;
    position: relative;
    top: 3px;
    padding: 0 15px;
    margin: 0 5px;
    background: center center;
    background-color: transparent;
    background-repeat: no-repeat;
}

div.nav nav ul li.fb a{ background-image: url('images/fb_small.png'); width: 6px; }

div.nav nav ul li.twitter a{ background-image: url('images/twitter_small.png'); width: 12px; }

div.nav nav ul li.fb a:hover{ background-image: url('images/fb_small_hover.png'); width: 6px; }

div.nav nav ul li.twitter a:hover{ background-image: url('images/twitter_small_hover.png'); width: 12px; }

/* -----------------  Header  ----------------- */

div.header_outer{
	width: 100%;
	height: auto;
    display: inline-block;
    background-image:url('images/bg1.jpg');
    background-size: cover;
    background-position: center center;
}

header{
	width: 940px;
	height: 100%;
	margin: 0 auto;
	text-align: left;
    padding-bottom: 80px;
}

header h2{
	color: #fff;
    font-size: 40px;
	padding: 150px 0 90px;
    text-align: center;
    font-weight: 300;
	text-shadow:0 1px 3px rgba(26, 26, 26, .3);
}

header h2 strong{
    font-weight: bold;
    font-size: 70px;
}

header .left{
    display: inline-block;
}

header .right{
    display: inline-block;
    width: 35%;
    float: right;
}

header a img{
    border: none;
}

header a img:hover{
  opacity: 0.9;  
}

header form{
    margin-bottom:90px;
    display:inline-block;
}

header p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin: 85px 0 20px;
    text-shadow: 0 1px 0 #2a2a2a;
}

header input[type=text]{
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
    border: none;
    width: 290px;
    padding: 14px 14px;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

header input[type=submit]{
    background-color: #ff6e2e;
    border: none;
    color: #fff;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: 10px;
    cursor:pointer;
    float: right;
}

header input[type=submit]:hover{
    background-color:#fe9c71;   
}

/* -----------------  Sections  ----------------- */

.section{
	width: 940px;
	margin: 0 auto;
}

/* -----------------  Sections - CHECKOUT ----------------- */

section.section_outer_checkout{
	background-color: #fff;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

section.checkout{
	height: auto;
	display: inline-block;
	padding: 3em 0;
    position: relative;
}

.checkout h4{
	font-weight: 300;
	font-size: 26px;
	color: #272727;
	margin: 30px 0;
}

.checkout h5{
   color: #373737;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 165px;
    left: 452px;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    letter-spacing: -1px;
}

.checkout span{
    display: inline-block;
    width: 463px;
    text-align: center;
}

.checkout span a img{
    border: none;
    width: 100%;
}

.checkout span a img:hover{
    opacity: 0.8;
}

/* -----------------  Sections - LOGOS ----------------- */

section.section_outer_logos{
	background-color: #ededed;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

section.logos{
	height: auto;
	display: inline-block;
	padding: 3em 0;
    position: relative;
}

.logos ul{
    list-style: none;
}

.logos ul li{
    display: inline-block;
    margin: 0 18px;
    vertical-align: middle;
}

.logos ul li:first-child{ margin-left: 0; }

.logos ul li:last-child{ margin-right: 0; }

.logos ul li a{
    
}

.logos ul li a span{
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -9999px;
}

.tc{ background-image: url("images/tc.png"); width:86px; height:43px; }
.tc:hover{ background-image: url("images/tc_h.png"); }

.engadget{ background-image: url("images/engadget.png"); width:129px; height:44px; }
.engadget:hover{ background-image: url("images/engadget_h.png"); }

.cnet{ background-image: url("images/cnet.png"); width:44px; height:44px; }
.cnet:hover{ background-image: url("images/cnet_h.png"); }

.mashable{ background-image: url("images/mashable.png"); width:132px; height:24px; }
.mashable:hover{ background-image: url("images/mashable_h.png"); }

.atd{ background-image: url("images/atd.png"); width:53px; height:43px; }
.atd:hover{ background-image: url("images/atd_h.png"); }

.gigaom{ background-image: url("images/gigaom.jpg"); width:131px; height:20px; }
.gigaom:hover{ background-image: url("images/gigaom_h.jpg"); }

.gizmag{ background-image: url("images/gizmag.png"); width:113px; height:38px; }
.gizmag:hover{ background-image: url("images/gizmag_h.png"); }

/* -----------------  Sections - INFO1 ----------------- */

section.section_outer_info1{
	background-color: #ddebf1;
	width: 100%;
	overflow: hidden;
	text-align: center;
    background-image:url('images/info1_cover.jpg');
    background-size: cover;
    background-position: center bottom;
}

section.info1{
	height: auto;
	display: inline-block;
	padding: 3em 0;
    position: relative;
}

.info1 h3{
	font-weight: 300;
	font-size: 50px;
	color: #ff6e2e;
	margin: 30px 0;
}

.info1 p{
   text-align: left;
    font-weight: normal;
    font-size: 18px;
    color: #3a3a3a;
    line-height: 24px;
    width: 60%;
    margin: 0 auto;
}

.info1 img{
    margin-top: 100px;   
}

/* -----------------  Sections - INFO2 ----------------- */

section.section_outer_info2{
	background-color: #4a4a4a;
	width: 100%;
	overflow: hidden;
	text-align: center;
    background-image:url('images/info2_cover.jpg');
    background-size: cover;
    background-position: center center;
}

section.info2{
	height: auto;
	display: inline-block;
	padding: 80px 0 135px;
    position: relative;
}

.info2 h3{
	font-weight: 300;
	font-size: 50px;
	color: #44c8ff;
	margin: 30px 0;
}

.info2 p{
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    width: 49.2%;
    margin: 0 auto;
}

.info2 img{
    margin-top: 100px;   
}

/* -----------------  Sections - DONTFORGET ----------------- */

section.section_outer_dontforget{
	background-color: #a797c9;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

section.dontforget{
	height: auto;
	display: inline-block;
	padding: 50px 0 60px;
    position: relative;
}

.dontforget h3{
	font-weight: 300;
	font-size: 32px;
	color: #fff;
	margin-bottom: 35px;
}

.dontforget input[type=text]{
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
    border: none;
    width: 327px;
    padding: 14px 14px;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.dontforget input[type=submit]{
    background-color: #514271;
    border: none;
    color: #fff;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-left: 20px;
    cursor:pointer;
}

.dontforget input[type=submit]:hover{
    background-color:#6a5990;   
}

/* -----------------  Social ----------------- */

section.section_outer_social{
	background-color: #fff;
	width: 100%;
	overflow: hidden;
}

section.social{
	padding: 5em 0 3.5em;
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

section.social h2{
	font-weight: 300;
	font-size: 32px;
	color: #1f1f1f;
    line-height: 50px;
    letter-spacing: -1px;
    margin-bottom: 2.5em;
}

section.social nav{
	margin: 1.7em 0;
}

section.social nav ul{
	list-style: none;
}

section.social nav li{
	display: inline-block;
	margin: 0 1.6em;
}

section.social nav li span{
	display: inline-block;
	font-size: 6.5em;
	
}

section.social nav li a{
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
    color: #bebebe;
}

section.social nav li a:hover{
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
}

section.social nav li a.fb span{
    position: relative;
    top: -7px;
}

section.social nav li a.fb span:hover{ color: #3B5998; }

section.social nav li a.twitter span:hover{ color: #4099FF; }

section.social nav li a.mail span:hover{ color: #444444; }

/* -----------------  Footer ----------------- */

section.section_outer_footer{
	background-color: #fff;
	width: 100%;
	overflow: hidden;
}

footer{
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

footer p{
	font-size: 0.8em;
	color: #7a7a7a;
}

#toTop{
	position: fixed;
	bottom: 30px;
	cursor: pointer;
	right: 20px;
	z-index: 700;
	border: none;
}

#toTop:hover{
	opacity: 0.8;
}


/* -----------------  Map ----------------- */

section.section_outer_map{
	width: 100%;
	background: #000;
	height: 390px;
}


section.section_outer_map #gmap{
	height: 390px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1; 
	opacity: 0.2;
	
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
}

section.section_outer_map #gmap:hover{
	opacity: 1;
	z-index: 100;
	
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
}

section.section_outer_map #container{
	font-weight: bold;
	font-size: 2.5em;
	color: #fff;
	line-height: 40px;
	margin-bottom: 0.5em;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;
	margin-top: 4.5em;
}