$font-family-serif: "Arapey", "George", "Times New Roman", serif
$font-family-sans-serif: "Poppins", Helvetica, Arial, sans-serif

$grey-border: #eee
$grey-text: #aaa
$black: #000
$white: #fff

// ---------- mixins

=transition($transition)
	-moz-transition: $transition
	-o-transition: $transition
	-webkit-transition: $transition
	-ms-transition: $transition
	transition: $transition

=transform($transform)
	-moz-transform: $transform
	-o-transform: $transform
	-webkit-transform: $transform
	-ms-transform: $transform
	transform: $transform

=box-shadow($boxshadow)
	-moz-box-shadow: $boxshadow
	-o-box-shadow: $boxshadow
	-webkit-box-shadow: $boxshadow
	-ms-box-shadow: $boxshadow
	box-shadow: $boxshadow

html
	font-size: 16px

	@include lg
		font-size: 14px

	@include md
		font-size: 12px


body
	color: $black
	font-family: $font-family-sans-serif
	overflow: hidden

.Header
	z-index: 5
	position: relative
	width: 100%
	display: flex
	flex-direction: row
	justify-content: space-between

	h1
		text-indent: -9999px
		background-image: url(../assets/img/logo.png)
		background-size: contain
		width: (260px / 2)
		height: (106px / 2)
		margin-left: 3rem

.rightSide
	display: flex
	align-items: center
	justify-content: flex-end
	flex-direction: row

.social
	display: flex
	flex-direction: row
	
	.social__link
		color: #fff
		text-decoration: none
		opacity: .6
		font-size: 14px
		font-size: 1.2rem
		display: flex
		+transition(opacity .3s ease-out)
		margin-left: 2.8rem
		cursor: pointer

		&:hover
			opacity: 1

		.social__link__text
			margin-left: 1rem
			text-transform: uppercase

		.icon
			background-size: contain
			display: inline-flex

		.icon--instagram
			background-image: url(../assets/img/instagram.png)
			width: (38px / 2)
			height: (38px / 2)

		.icon--youtube
			background-image: url(../assets/img/youtube.png)
			width: (50px / 2)
			height: (38px / 2)

.menu
	background-size: contain
	background-image: url(../assets/img/menu-icon.svg)
	width: (60px / 2)
	height: (80px / 2)
	cursor: pointer
	margin: 0 4rem

.ModuleIntro
	z-index: 3
	position: relative

.Timeline
	position: absolute
	top: 0
	right: 0
	bottom: 0
	z-index: 4

.BackgroundCanvas
	overflow: hidden

	canvas
		// position: relative
		// z-index: 3
		width: auto
		height: auto
		min-height: 100%
		min-width: 100%
		position: absolute
		z-index: 1
		top: 0
		left: 0
		overflow: hidden
		position: fixed
		top: 50%
		left: 50%
		transform: translateX(-50%) translateY(-50%)

	.videoMask
		width: 100%
		height: 100%
		background-color: #17061F
		position: absolute
		top: 0
		left: 0
		z-index: 2
		opacity: 0.45

	.bgVideo
		display: none
		width: auto
		height: auto
		min-height: 100%
		min-width: 100%
		position: absolute
		z-index: 1
		top: 0
		left: 0
		overflow: hidden
		position: fixed
		top: 50%
		left: 50%
		transform: translateX(-50%) translateY(-50%)

.ModuleIntro
	color: white
	max-width: 65rem
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	width: 100%
	height: 100%
	margin: auto

	&:before
		content: ''
		display: inline-block
		height: 100%
		vertical-align: middle

	.spacing
		display: block

	.v-align
		display: inline-block
		vertical-align: middle
		position: relative
		width: 100%

	h2
		font-family: $font-family-serif
		font-style: normal
		font-weight: normal
		font-size: 87px
		font-size: 7.3rem
		line-height: 96%
		letter-spacing: -1.74px
		color: #FFFFFF
		margin-bottom: 2.5rem
		width: 44rem

	p
		font-family: $font-family-sans-serif
		font-style: normal
		font-weight: 500
		font-size: 16px
		font-size: 1.3rem
		line-height: 170%
		color: #FFFFFF
		letter-spacing: .02rem
		width: 44rem
