@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('font/MonoSocialIconsFont-1.10.eot');
    src: url('font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Responsive */

@media screen and (max-width: 960px) {

header, footer, .section, div.nav{
	width: 720px !important;
	text-align: center !important;
}

header{
	height: 100% !important;
}

header h1{
	font-size: 8em !important;
}

}

@media screen and (max-width: 720px) {

header, footer, .section, div.nav{
	width: 512px !important;
	text-align: center !important;
}

header{
	height: 100% !important;
}

header h1{
	font-size: 6em !important;
	padding-top: 2em !important;
}

div.nav{
	width: 940px;
	height: 75px;
	margin: 0 auto;
}

span.nav_icon{
	display: inline-block !important;
}


div.nav nav ul{
	display: none;
	padding: 10px 0 !important;
}

}

@media screen and (max-width: 512px) {

header, footer, .section, div.nav{
	width: 250px !important;
	text-align: center !important;
}

header{
	height: 100% !important;
}

header h1{
	padding-top: 3em !important;
	font-size: 3em !important;
}

div.nav{
	width: 940px;
	height: 75px;
	margin: 0 auto;
}

span.nav_icon{
	display: inline-block !important;
}

div.nav nav ul{
	display: none;
	padding: 10px 0 !important;
}

section.social nav li{
	margin: 0.5em 0.6em !important;
}

.collage section.top, .collage section.bottom{
	width: 201px !important;
}

section.section_outer_map #container{
	font-size: 2em !important;
}

.collage section.top a, .collage section.bottom a{
	width: 200px !important;
	height: 150px !important;
}

.collage section.top a img, .collage section.bottom a img{
	width: 200px !important;
	height: 150px !important;
} 

.collage section.top a.big img, .collage section.bottom a.big img {
	width: 250px !important;
	height: 188px !important;
}

.collage section.top a.big, .collage section.bottom a.big {
	width: 250px !important;
	height: 188px !important;
}

}

/* -----------------  *  ----------------- */

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none;
	color: #1a1a1a
}

a:hover{
	color: #5a5a5a;
}

/* -----------------  Navigation ----------------- */

.sticky-wrapper{
	position: absolute;
	width: 100%;
	z-index: 600;
}

section.nav_outer.stuck {
	position:fixed;
	top:0;
	box-shadow:0 1px 2px rgba(0, 0, 0, .3);
	z-index: 500;
	background-color: #fff;
	opacity: 0.8;
}

section.nav_outer.stuck span.nav_icon{
	background: url('images/navb.png') no-repeat transparent !important;
}

span.nav_icon{
	display: none;
	width: 23px;
	height: 19px;
	background: url('images/nav.png') no-repeat transparent;
	cursor: pointer;
	margin: 27px 0;
	float: right;
}

section.nav_outer.stuck div.nav nav ul li a{
	color: #3a3a3a;
	text-shadow: none;
}

section.nav_outer.stuck div.nav nav ul li a:hover{
	color: #8a8a8a;
}

section.nav_outer{
	width: 100%;
	display: inline-block;
	background: none;
	z-index: 100;
}

div.nav{
	width: 940px;
	height: 75px;
	margin: 0 auto;
}

div.nav.stuck {
	position:fixed;
	top:0;
}

div.nav a.avatar_small{
	border: 3px solid #fff;
	border-radius: 55px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#3a3a3a', Direction=145, Strength=1);
	width: 48px;
	height: 48px;
	display: inline-block;
	float: left;
	margin: 10px 0;
}

div.nav a.avatar_small img{
	border-radius: 55px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	behavior: url(border-radius.htc);
	border: none;
}

div.nav nav{
	float: right;
}

div.nav nav ul{
	list-style: none;
	padding: 27px 0;
}

div.nav nav ul li{
	display: inline-block;
	padding: 0 20px;
}

div.nav nav ul li a{
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	text-shadow: 0 1px 1px #6a6a6a;
	font-family: 'Raleway', sans-serif;
}

div.nav nav ul li a:hover{
	color: #2a2a2a;
	text-shadow: none;
}

/* -----------------  Header  ----------------- */

div.header_outer{
	width: 100%;
	height: auto;
}

header{
	width: 940px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

header a.avatar{
	border: 4px solid #fff;
	border-radius: 55px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#3a3a3a', Direction=145, Strength=1);
	margin-top: 25px;
	width: 97px;
	height: 97px;
	display: inline-block;
}

header a.avatar img{
	border-radius: 55px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	behavior: url(border-radius.htc);
	border: none;
}

header h1{
	color: #fff;
	font-size: 9em;
	padding: 1.7em 0 1.5em;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3);
}

header h2{
	color: #fff;
	text-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3);
	font-size: 1.1em;
	font-weight: normal;
	margin-top: 35px;
	margin-bottom: 12px;
}

/* -----------------  Sections  ----------------- */

.section{
	width: 940px;
	margin: 0 auto;
}

.colour1{
	background-color: #fff;
}

.colour2{
	background-color: #ffbe5b;
}

section.media{
	width: 540px;
}

section.content{
	width: 400px;
}

.left{
	float: left;
	text-align: left;
}

.right{
	float: right;
	text-align: left;
}

/* -----------------  Sections - PORTFOLIO ----------------- */

section.section_outer_num1{
	background-color: #fff;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

section.portfolio{
	height: auto;
	display: inline-block;
	padding: 5em 0 5.5em;
}

.portfolio h2{
	font-weight: normal;
	font-size: 1.7em;
	color: #1d1d1d;
	line-height: 40px;
	margin-bottom: 1em;
	font-family: 'Raleway', sans-serif;
}

/* -----------------  COLLAGE ----------------- */

.collage{
	letter-spacing: -3px;
}

.collage section.top, .collage section.bottom{
	display: inline-block;
	letter-spacing: -3px;
	width: 403px;
	vertical-align: top;
	margin-right: -1px;
}

.collage section.top a, .collage section.bottom a{
	display: inline-block;
	width: 200px;
	height: 150px;
	background: #2a2a2a;
}

.collage section.top a img:hover, .collage section.bottom a img:hover{
	opacity: 0.15;
}

.collage section.top img, .collage section.bottom img{
	width: 200px;
	height: 150px;
	border: none;
	vertical-align: top;
}

.collage section.top a.big, .collage section.bottom a.big{
	width: 400px;
	height: 300px;
}
.collage section.top a.big img, .collage section.bottom a.big img{
	width: 400px;
	height: 300px;
}

/* -----------------  Sections - ABOUT ----------------- */

section.section_outer_num2{
	background-color: #48B9F8;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

section.about{
	height: auto;
	display: inline-block;
	padding: 4em 0;
}

.about h2{
	font-weight: normal;
	font-size: 1.7em;
	color: #fff;
	line-height: 40px;
	margin-bottom: 0.5em;
	font-family: 'Raleway', sans-serif;
}

.about p{
	width: 50%;
	margin: 0 auto;
	color: #fff;
	line-height: 30px;
}

/* -----------------  Social ----------------- */

section.section_outer_social{
	background-color: #fff;
	width: 100%;
	overflow: hidden;
}

section.social{
	padding: 5em 0;
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

section.social h2{
	font-weight: normal;
	font-size: 1.7em;
	color: #1d1d1d;
	line-height: 40px;
	margin-bottom: 1em;
	font-family: 'Raleway', sans-serif;
}

section.social nav{
	margin: 1.7em 0;
}

section.social nav ul{
	list-style: none;
}

section.social nav li{
	display: inline-block;
	margin: 0 0.6em;
}

section.social nav li span{
	display: inline-block;
	font-size: 5em;
}

section.social nav li a:hover{
	opacity: 0.5;
}

section.social nav li a.fb span{
	color: #3B5998;
}

section.social nav li a.twitter span{
	color: #4099FF;
}

section.social nav li a.dribbble span{
	color: #ea4c89;
}

section.social nav li a.mail span{
	color: #444444;
}

/* -----------------  Footer ----------------- */

section.section_outer_footer{
	background-color: #fff;
	width: 100%;
	overflow: hidden;
}

footer{
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

footer p{
	font-size: 0.8em;
	color: #7a7a7a;
}

#toTop{
	position: fixed;
	bottom: 30px;
	cursor: pointer;
	right: 20px;
	z-index: 700;
}

#toTop:hover{
	opacity: 0.8;
}


/* -----------------  Map ----------------- */

section.section_outer_map{
	width: 100%;
	background: #000;
	height: 390px;
}


section.section_outer_map #gmap{
	height: 390px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1; 
	opacity: 0.2;
}

section.section_outer_map #gmap:hover{
	opacity: 1;
	z-index: 100;
}

section.section_outer_map #container{
	font-weight: bold;
	font-size: 2.5em;
	color: #fff;
	line-height: 40px;
	margin-bottom: 0.5em;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;
	margin-top: 4.5em;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}