@media screen and (max-width: 1379px) {
  .openmenu {
    margin-right: 40px;
  }
  .openmenu li {
    font-size: 13px;
    font-size: 1.3rem;
  }

  .top_right .phone_number {
    font-size: 13px;
    font-size: 1.3rem;
    margin-right: 30px;
    letter-spacing: 3px;
  }
  .top_right .phone_number.dark .tooltip-phone {
    right: 80px;
  }
}
@media screen and (max-width: 1240px) {
  #smartmenu .item {
    display: none;
  }
}
@media screen and (max-width: 1600px) {
  .table_info .tabs {
    margin: 0;
    position: absolute;
    top: 80px;
    z-index: 10;
  }
  .table_info .tabs span.active {
    display: inline-block;
  }
  .table_info .tabs a {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-size: 18px;
    font-size: 1.8rem;
    display: inline-block;
    background-color: #fff;
    border-bottom: 1px solid #ebeef3;
    border-top: 1px solid #ebeef3;
    color: #3f474e;
    padding: 13px 20px 15px;
    position: relative;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  .table_info .tabs a:hover {
    background-color: #f7f8fa;
  }
  .table_info .tabs.open {
    height: auto;
  }
  .table_info .tabs.open span.active i {
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .table_info .tabs.open a {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin: 0;
  }
  .table_info .title h3 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 18px;
  }

  .item {
    display: none;
  }
}
@media screen and (max-width: 1111px) {
  #wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  #grid_posts .post {
    width: 49%;
    width: calc(50% - 8px);
  }

  .mainheader .top_right .menu_icon.responsive {
    display: inline-block;
  }
  .mainheader .top_right .openmenu {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .mainheader .mainmenu {
    width: 100%;
    z-index: 20;
  }
}
@media only screen and (device-width: 768px) {
  #wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  #wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  #wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
