* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, #app {
  width: 100%;
  height: 100%; }

body {
  background-image: url("a5e82d501c82f1ff659c5b71947240c6.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif; }

.app-wrapper {
  background-color: #fff; }

@media (min-width: 860px) {
  #app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .app-wrapper {
    width: 800px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 50px 200px 2px rgba(97, 100, 111, 0.56);
            box-shadow: 0px 50px 200px 2px rgba(97, 100, 111, 0.56);
    border-radius: 3px; }
  .content-wrapper {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; } }
.Form {
  max-width: 100%;
  height: 100%;
  padding: 4.5vh;
  border-bottom: 2px solid #d4ddf1; }
  .Form input, .Form textarea {
    border: none;
    border-bottom: 1px solid #e8e9eb;
    color: #3c4858;
    font-size: 16px;
    font-family: inherit;
    letter-spacing: 0.3px;
    width: 100%;
    margin-bottom: 30px;
    padding: 3px 5px;
    outline-color: #7e5bef; }
  .Form textarea {
    margin-bottom: 20px;
    border: 1px solid #e8e9eb; }
  .Form .select-wrapper label {
    color: #3c4858;
    font-family: inherit;
    font-size: 13px;
    display: block;
    margin-bottom: 5px; }
  .Form .select-wrapper select {
    width: 100%;
    padding: 5px;
    border: 1px solid #e8e9eb;
    color: #3c4858; }

@media (min-width: 860px) {
  .Form {
    width: 50%;
    border: none;
    border-right: 1px solid #ebdbec; } }
.Display.jet-black h2 {
  color: #292929; }

.Display.jet-black h3 {
  color: #434343; }

.Display.jet-black a {
  color: black; }

.Display.rose-gold h2 {
  color: #ea98c9; }

.Display.rose-gold h3 {
  color: #f3c2df; }

.Display.rose-gold a {
  color: #d9439d; }

.Display.standard-gold h2 {
  color: #b5a187; }

.Display.standard-gold h3 {
  color: #c8baa7; }

.Display.standard-gold a {
  color: #846e52; }

.Display.ming-red h2 {
  color: #ff213b; }

.Display.ming-red h3 {
  color: #ff5468; }

.Display.ming-red a {
  color: #ba0016; }

.Display.stunning-blue h2 {
  color: #3f51b5; }

.Display.stunning-blue h3 {
  color: #606fc7; }

.Display.stunning-blue a {
  color: #252f69; }

.Display {
  max-width: 100%;
  padding: 4.5vh;
  overflow: auto;
  height: 100%;
  position: relative; }
  .Display h2, .Display h3, .Display a, .Display p {
    margin-bottom: 12px;
    display: block; }
    .Display h2.placeholder, .Display h3.placeholder, .Display a.placeholder, .Display p.placeholder {
      color: #c7c7c7; }
  .Display h2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 4px;
    color: #292929; }
  .Display h3 {
    font-weight: 400;
    font-size: 15px; }
  .Display a {
    font-size: 12px;
    margin-bottom: 4px; }
  .Display .company-info {
    white-space: pre-line;
    font-weight: 300;
    line-height: 16px;
    font-size: 13px; }
  .Display .copy-btn {
    border: none;
    background-color: #7e5bef;
    color: #ffffff;
    padding: 8px 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom: 40px;
    right: 40px;
    opacity: 0.7;
    border-radius: 2px; }
    .Display .copy-btn.copied {
      background-color: #57d878;
      pointer-events: none;
      outline: none; }

@media (min-width: 860px) {
  .Display {
    width: 50%; }
    .Display .copy-btn {
      opacity: 1;
      -webkit-transition: background 0.3s ease-out;
      transition: background 0.3s ease-out; }
      .Display .copy-btn:hover {
        background-color: #9177e6; } }
.Header {
  width: 100%;
  background-color: #7e5bef;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 3px 3px 0 0; }
  .Header h1 {
    font-size: 16px;
    font-weight: 500;
    text-align: center; }
