.slider_container{
	position: relative;
}
.slider{
	background-color: #1a1c1d;
	.slide{
		@include opacity(0.75);
		height: 288px;
		background-position: center center;
		background-size: cover;
	}
}
.social_dots{
	position: absolute;
    z-index: 10;
    top: 45%;
    left: 16%;
    a.icon-instagram{
        @include font-size(2.25);
    }
	a{
		@include opacity(0.6);
        @include font-size(2.5);
    	color: #fff;
    	cursor: pointer;
    	&:hover{
      		@include opacity(1);
    	}
    }
    .slick-social{
    	@include opacity(1);
    }
}
