*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}

a{
	text-decoration: none;
	font-size: 14px;
	color: #323232;
}

a:hover{
	color: #6fc0ff;
}

#wrapper{
	width: 100%;
	background: url('images/guitar.jpg') center 0 no-repeat #000;
}

/* ============================ HEADER ============================ */

section.header_outer{
	width: 100%;
	background: url('images/topbar.png') repeat-x;
	z-index: 2;
	position: relative;
	height: 100px;
}

header{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

header h1 a{
	color: #fff;
	float: left;
	display: inline-block;
	margin-top: 25px;
	font-size: 32px;
}	

header nav{
	display: inline-block;
	float: right;
	margin-top: 40px;
}

header nav ul{
	text-align: right;
	list-style: none;
	display: inline-block;
}

header nav ul li{
	display: inline-block;
	padding-left: 45px;
}

header nav ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

header nav ul li a:hover{
	color: #6fc0ff;
}

/* ============================ TOPBAR ============================ */

section#topbar_outer{
	width: 100%;
	height: 60px;
	background: #6fc0ff;
}

section#topbar{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

section#topbar section.left{
	float: left;
	font-size: 14px;
	color: #3384c3;
	margin-top: 20px;
}

section#topbar section.left a{
	color: #245c88;
}

section#topbar section.left a:hover{
	color: #fff;
}

section#topbar section.left span.current{
	color: #fff;
}

section#topbar section.right{
	float: right;
	margin-top: 15px;
}

section#topbar section.right input#search_form_small{
	font-size: 14px;
	border: 1px solid #4f8fc1;
	padding: 5px 10px;
	border-radius: 3px;
	width: 260px;
}

/* ============================ INFOBAR ============================ */

section#infobar{
	width: 960px;
	height: 162px;
	margin: 0 auto;
	border-bottom: 1px solid #e0dfdf;
}

section#infobar section.left{
	float: left;
	font-size: 14px;
	color: #3384c3;
	height: 162px;
	width: 600px;
	margin-top: 20px;
}

section#infobar section.left img{
	width: 120px;
	height: 120px;
	display: inline-block;
}

section#infobar section.left div{
	width: 450px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	line-height: 38px;
}

section#infobar section.left h2{
	display: inline-block;
	font-weight: normal;
	font-size: 36px;
	color: #282828;
	margin-bottom: 6px;
}

section#infobar section.left a{
	color: #7b7b7b;
	font-size: 16px;
}

section#infobar section.left a:hover, section#infobar section.left a.comments_link:hover{
	color: #6fc0ff;
}

section#infobar section.left a.comments_link{
	display: inline-block;
	color: #b2b2b2;
	font-size: 12px;
	margin-top: 20px;
}

section#infobar section.right{
	float: right;
	margin-top: 75px;
}

section#infobar section.right span{
	margin-bottom: 18px;
	display: inline-block;
	color: #7b7b7b;
	font-size: 16px;
}

/* ============================ GUITAR ============================ */

section#guitar_outer{
	width: 100%;
	height: 500px;
	z-index: 1;
	position: relative;
}

section#guitar{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 65px;
}

section#guitar h2{
	text-shadow: 0 1px 3px #222;
	color: #fff;
	font-size: 78px;
}

section#guitar h3{
	text-shadow: 0 1px 3px #222;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	margin-top: 40px;
}

section#guitar input#search_box{
	margin-top: 45px;
	width: 645px;
	padding: 10px 15px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
}

/* ============================ ARTISTS ============================ */

section#artists_outer{
	width: 100%;
	background: #323232;
	height: 188px;
	z-index: 2;
	position: relative;
	text-align: center;
	overflow:hidden;
}

section#artists_outer nav{
	width: 1692px;
	height: 188px;
	overflow:hidden;
	display: inline-block;
}

section#artists_outer nav ul{
	list-style: none;
	display: inline-block;
	position: relative;
	right: 130px;
}

section#artists_outer nav ul li{
	margin: 0 -2px;
	display: inline-block;
}

section#artists_outer nav ul li a img{
	width: 188px;
	height: 188px;
	display: inline-block;
	border: none;
}

section#artists_outer nav ul li a img:hover{
	opacity: 0.4;
}

/* ============================ CONTENT ============================ */

section#content{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

section#content div.entry_content{
	font-size: 14px;
	color: #000;
	text-align: left;
	margin-top: 30px;
	line-height: 22px;
	margin-bottom: 60px;
}

section#content div.entry_content div.chords{
	font-weight: bold;
	color: #3a97df;
}

/* ============================ LISTS ============================ */

section#lists_outer{
	width: 100%;
	background: #ededed;
	z-index: 2;
	position: relative;
	height: 550px;
}

section#lists{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

section#lists ul{
	list-style: none;
	display: inline-block;
	width: 380px;
	border: 1px solid #e7e7e7;
	background: #fff;
	border-radius: 5px;
	margin-top: 50px;
	text-align: left;
}

section#lists ul.first_ul{
	margin-right: 100px;
}

section#lists ul li{
	padding: 9px 0 9px 18px;
	border-bottom: 1px solid #e7e7e7;
}

section#lists ul li h3{
	font-size: 16px;
	color: #181818;
}

section#lists ul li a{
	font-size: 14px;
	color: #181818;
	text-decoration: none;
}

section#lists ul li a:hover{
	color: #6fc0ff;
}

/* ============================ LISTS-SINGLE ============================ */

section#lists_single_outer{
	width: 100%;
	background: #ededed;
	z-index: 2;
	position: relative;
	height: 400px;
}

section#lists_single{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

section#lists_single ul{
	list-style: none;
	display: inline-block;
	width: 380px;
	border: 1px solid #e7e7e7;
	background: #fff;
	border-radius: 5px;
	margin-top: 55px;
	text-align: left;
}

section#lists_single ul.first_ul{
	margin-right: 190px;
}

section#lists_single ul li{
	padding: 9px 0 9px 18px;
	border-bottom: 1px solid #e7e7e7;
}

section#lists_single ul li:last-child a{
	color: #9a9999;
}

section#lists_single ul li h3{
	font-size: 16px;
	color: #181818;
}

section#lists_single ul li a{
	font-size: 14px;
	color: #181818;
	text-decoration: none;
}

section#lists_single ul li a:hover{
	color: #6fc0ff;
}

/* ============================ COMMENTS ============================ */

a#comments_outer{
	width: 100%;
	height: 120px;
	display: inline-block;
	background-color: #fff;
}

a#comments_outer:hover{
	background-color: #dfdfdf;
}

section#comments{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

section#comments h2{
	font-size: 36px;
	color: #5c5c5c;
	margin-top: 20px;
}

section#comments span{
	font-size: 14px;
	color: #989898;
}

/* ============================ WOOD ============================ */

section#wood_outer{
	width: 100%;
	background: url('images/wood.jpg') repeat-x;
	height: 212px;
}

section#wood{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

section#wood h2{
	font-size: 44px;
	color: #fff;
	text-shadow: 0 1px 3px #666;
	font-weight: normal;
	padding-top: 35px;
}

section#wood a{
	display: inline-block;
	background: url('images/wood_button.png') no-repeat;
	width: 169px;
	height: 41px;
	font-size: 20px;
	color: #fff;
	text-shadow: 0 1px 3px #666;
	margin-top: 21px;
	padding: 10px 0 0 0;
}

section#wood a:hover{
	opacity: 0.8;
}

section#wood a:active{
	background-position: 0 1px;
}

/* ============================ FOOTER ============================ */

section#footer_outer{
	width: 100%;
	background: #323232;
}

footer{
	width: 960px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
	z-index: 2;
	position: relative;
}

footer a.social{
	width: 42px;
	height: 42px;
	display: inline-block;
	text-indent: -9999px;
	margin: 70px 0 40px;
}

footer a.social:hover{
	opacity: 0.7;
}

footer a.fb{
	background: url('images/fb.png') center center no-repeat transparent;
}

footer a.twitter{
	background: url('images/twitter.png') center center no-repeat transparent;
	margin: 0 50px 0 40px;
}

footer a.mail{
	background: url('images/mail.png') center center no-repeat transparent;
}

footer p{
	color: #767676;
	font-size: 14px;
}