doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title 3 days in Berlin
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(rel="stylesheet" type="text/css" href="css/responsive.css")
		
		//- meta(property="og:image" content="")
		script(src="js/device.min.js")

		//- link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
	body

		script(src='js/jquery-3.2.1.min.js')
		script(src='js/TweenMax.min.js')